$primary-color: #5e3bee;
$darkblue: #1c1e53;
$heading-color: #282938;
$medium-blue: #bfdbfe;
$sky-color: #e0f2fe;
$medium-sky-color: #bae6fd;
$graywhite: #f4fbfe;
$redpink: #e62872;
$black-color: #000;
$white-color: #fff;